.my-register-page {
    .card-wrapper {
        width: 400px;
        margin: 0 auto;
        .brand {
            width: 170px;
            padding: 5px;
            margin: 0 auto;
            margin: 40px auto;
            img {
                width: 100%;
            }
            @media (max-width: 768px) {
                margin: 20px auto;
            }
        }
        @media (max-width: 768px) {
            width: 300px;
        }
    }
    .card {
        padding: 10px;
        border-color: transparent;
        box-shadow: 0 0 40px rgba(0, 0, 0, .05);
        .card-title {
            margin-bottom: 30px;
            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
        }
        .card-body {
            form {
                .form-group {
                    label {
                        width: 100%;
                    }
                    .form-control {
                        border-width: 2.3px;
                    }
                    .btn-block {
                        padding: 12px 10px;
                    }
                }
            }
            a {
                color: #fccd87;
            }
            @media (max-width: 768px) {
                padding: 10px;
            }
        }
        @media (max-width: 768px) {
            padding: 5px;
        }
    }
}