<div class="container">
    <div class="header text-center mt-5">
        <h3 class="title">Liste de logiciels</h3>
    </div>
    <div class="col-12 col-md-10 mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
        <div class="row  m-5  justify-content-md-end">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="resetForm()" data-target="#softwareModal">
       Ajouter une nouvelle software
    </button>
        </div>
    </div>
    <div class="col-12 col-md-10 mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
        <div class="row  mt-5 justify-content-md-center">
            <ngx-loading [show]="loading"></ngx-loading>
            <div class="col-12 col-md-10">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Software</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let software of listSoftware ; let i = index">
                            <td> {{i+1}}</td>
                            <td>{{software.title}}</td>
                            <td>
                                <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#softwareModal" (click)="onEdit(software)">
                              <i class="fa fa-pencil-square-o"></i>
                            </button>
                                <button class="btn mr-1 btn-sm btn-primary" (click)="onDelete(software)">
                              <i class="fa fa-trash-o "></i>
                            </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="softwareModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="row  mt-5 justify-content-md-center">
                    <div class="col-12 col-md-10">
                        <form [formGroup]="softwareForm" (ngSubmit)="submitSoftware(softwareForm)">
                            <input class="form-control" type="hidden" [formControl]="softwareForm.controls['uid']">
                            <div class="form-group">
                                <label class="form-label">Nom software</label>
                                <input class="form-control" type="text" [formControl]="softwareForm.controls['title']">
                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-primary  mr-1" type="submit" [disabled]="!softwareForm.valid">{{titleButton}}</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset" (click)="resetForm()"> Annuler </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>