<div class="container">
    <div class="header text-center mt-5">
        <h3 class="title">Liste des employeurs validé</h3>
    </div>
    <div class="col-12  mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
        <div class="row  mt-5 justify-content-md-center">
            <ngx-loading [show]="loading"></ngx-loading>
            <div class="col-12 ">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employer of listEmployer ; let i = index">
                            <td> {{i+1}}</td>
                            <td>{{employer.firstName}}</td>
                            <td>{{employer.lastName}}</td>
                            <td>{{employer.email}}</td>

                            <td>
                                <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#employerModal" (click)="onDisplay(employer)">
                <i class="fa fa-info-circle"></i>
              </button>
                                <button class="btn  mr-1  btn-sm btn-primary" (click)="onDelete(employer)">
                <i class="fa fa-trash-o "></i>
              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="employerModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngIf="displayDetail" class="row  mt-5 justify-content-md-center">
                    <div class="col-12 col-md-10">


                        <div class="form-group row">
                            <label class="col-12 col-md-5">Nom</label>
                            <label class="col-12 col-md-7">{{employerInfo.firstName}}</label>
                        </div>


                        <div class="form-group row">
                            <label class="col-12 col-md-5">Prenom</label>
                            <label class="col-12 col-md-7">{{employerInfo.lastName}}</label>
                        </div>


                        <div class="form-group row">
                            <label class="col-12 col-md-5">Email</label>
                            <label class="col-12 col-md-7">{{employerInfo.email}}</label>
                        </div>



                        <div class="form-group row">
                            <label class="col-12 col-md-5">Phone</label>
                            <label class="col-12 col-md-7">{{employerInfo.phone}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Profession</label>
                            <label class="col-12 col-md-7">{{employerInfo.profession}}</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>