<div class="full-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.svg" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/employer">List Employer</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/employee">List Employee</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/invalid-employer">List Invalid - Employer</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/invalid-employee">List Invalid - Employee</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Setting
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/categories">Categories</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/software">Software</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/pratical-environnement">Environnement</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/study-levels">Study-levels</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/experience">Experience</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/FormEmployment">Form Employment</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Remplacements
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/mandates">Liste des mandats</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/confirmed-mandates">Liste des mandats confirmés</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/admin/colsed-mandates">Liste des mandats finalisés</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" routerLink="/admin/ads-job">Liste des annonces d'emploi</a>
        </li>
      </ul>
      <div class=" my-2 my-lg-0">
        <button (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0">Log out</button>
      </div>
    </div>
  </nav>
</div>
