<div class="category-page">
    <div class="container">
        <div class="row justify-content-md-center h-100">
            <div class="brand">
                <img src="./assets/logo.svg">
            </div>
        </div>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Employer</h4>
                </div>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Pharmacy</li>
                    <li>Hospital</li>
                    <li>Clinic</li>
                    <li>GMF</li>
                    <li>...</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-small btn-primary" (click)="goEmployerPage()">Enter</a>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Employee</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Pharmacist</li>
                        <li>Technician</li>
                        <li>Nurse</li>
                    </ul>
                    <a class="btn btn-small btn-primary" (click)="goEmployeePage()">Enter</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-left h-100">
            <a class="btn btn-small btn-primary" (click)="returnBack()">Back</a>
        </div>
    </div>
</div>