.category-page {
    .brand {
        width: 170px;
        padding: 5px;
        margin: 0 auto;
        margin: 40px auto;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            margin: 20px auto;
        }
    }
}