<div *ngIf="user" class="row displayInfo">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label">Email</label>
            <div class="form-txt">{{user.email}}</div>
        </div>
        <div class="form-group">
            <label class="form-label">Nom</label>
            <div class="form-txt">{{user.firstName}}</div>
        </div>
        <div class="form-group">
            <label class="form-label">Prénom</label>
            <div class="form-txt">{{user.lastName}}</div>
        </div>
        <div class="form-group">
            <label class="form-label">Téléphone</label>
            <div class="form-txt">{{user.phoneNumber}}</div>
        </div>
        <div *ngIf="(user.cvUrl !== '')? true : false " class="form-group">
            <label class="form-label">Curriculum Vitae</label>
            <div class="form-txt"> <a href="{{user.cvUrl}}" target="_blank">Voir Cv</a></div>
        </div>
        <div *ngIf="(user.cinUrl !== '')? true : false " class="form-group">
            <label class="form-label">Pièce d'identité</label>
            <div class="form-txt"> <a href="{{user.cinUrl}}" target="_blank">Voir pièce d'identité</a></div>
        </div>
        <div *ngIf="(user.licenseUrl !== '')? true : false " class="form-group">
            <label class="form-label">Permis d'exercice</label>
            <div class="form-txt"> <a href="{{user.licenseUrl}}" target="_blank">Voir Licence</a></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label">Collecte les taxes (TPS/TVQ)</label>
            <div class="form-txt" *ngIf="user.taxesTPSTVQ;else other"> Oui </div>
            <ng-template class="form-txt" #other> Non </ng-template>
        </div>
        <div class="form-group">
            <label class="form-label">Fonction</label>
            <div class="form-txt">{{user.category.title}}</div>
        </div>
        <div class="form-group">
            <label class="form-label">Milieu de pratique</label>
            <div class="form-txt">
                <span *ngFor="let environnement of user.listEnvironnement">
                {{environnement.title}} / 
              </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Logiciel maitrisé</label>
            <div class="form-txt">
                <span *ngFor="let software of user.listSoftware">
                {{software.title}} / 
              </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Niveau d'étude</label>
            <div class="form-txt">
                <span *ngFor="let studyLevel of user.listStudyLevel">
                {{studyLevel.title}} / 
              </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">Nombre d'année d'expérience</label>
            <div class="form-txt">{{user.yearsExperience}}</div>
        </div>
        <div class="form-group" *ngIf="(user.descriptionProfile !== '')? true : false ">
            <label class="form-label">Description</label>
            <div class="form-txt">{{user.descriptionProfile}}</div>
        </div>
    </div>
</div>