<div class="my-profile-page">
    <div class="container">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active ">Profile</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="card" *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="submitUser(userForm)">
                    <div class="card-header ">
                        <h4 class="card-title mb-0"> Modifier mon profile</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Email *</label>
                                    <input class="form-control" type="text" [formControl]="userForm.controls['email']">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nom *</label>
                                    <input class="form-control" type="text" [formControl]="userForm.controls['firstName']">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Prénom *</label>
                                    <input class="form-control" type="text" [formControl]="userForm.controls['lastName']">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Gender *</label>
                                    <div class="custom-controls-stacked">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" [formControl]="userForm.controls['gender']"  value="Madame"> 
                                            <span class="custom-control-label">Madame</span> 
                                        </label>
                                        <label class="custom-control custom-radio"> 
                                            <input type="radio" class="custom-control-input"  [formControl]="userForm.controls['gender']"  value="Monsieur"> 
                                            <span class="custom-control-label">Monsieur</span> 
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Position *</label>
                                    <input class="form-control" type="text" [formControl]="userForm.controls['positionHeld']">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Téléphone *</label>
                                    <input class="form-control" type="text" mask="000 000-0000" [formControl]="userForm.controls['phone']">
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-12 mb2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="authorizedSmsEmail" [formControl]="userForm.controls['authorizedSmsEmail']">
                                    <label class="custom-control-label" for="authorizedSmsEmail">
                                        J'autorise PlacementSante à me communiquer de l'information et des offres par courriel et/ou par SMS 
                                     </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="validDocuments" [formControl]="userForm.controls['validDocuments']">
                                    <label class="custom-control-label" for="validDocuments">
                                        Je certifie sur l'honneur que les renseignements indiqués dans ce formulaire sont, à ma connaissance,
                                        véridiques et exacts, et je conviens que je dois me conformer aux conditions générales d'utilisation
                                        qui sont énoncées ci-joint : conditions générales.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="form-group text-center">
                            <input class="btn btn-primary  mr-5" type="submit" [disabled]="!userForm.valid" value="Sauvegarder" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>