<div class="my-profile-page">
    <div class="container">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active ">Profile</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="card" *ngIf="user" #userForm="ngForm" (ngSubmit)="submitUser(userForm)">
                    <div class="card-header ">
                        <h4 class="card-title mb-0"> Modifier mon profile</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-group" type="hidden" name="uid" #uid="ngModel" [(ngModel)]="user.uid">
                                <div class="form-group">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" disabled type="text" name="email" #email="ngModel" [(ngModel)]="user.email">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nom*</label>
                                    <input required class="form-control" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName">
                                    <div class="invalid-field" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">Nom invalide</div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Prénom*</label>
                                    <input required class="form-control" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName">
                                    <div class="invalid-field" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">Prénom invalide</div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Téléphone*</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input required class="form-control" mask="000 000-0000" type="text" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber">
                                        </div>
                                        <!-- <span class="col-auto"> 
                                            <button class="btn btn-secondary" type="button">
                                                <i class="fa fa-check-circle-o"></i>
                                            </button> 
                                       </span> -->
                                    </div>
                                    <div class="invalid-field" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">Téléphone invalide</div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Je suis*</label>
                                    <select required class="form-control custom-select" name="uidCategory" #uidCategory="ngModel" (change)="onChangeCategory($event.target.value)" [(ngModel)]="user.uidCategory">
                                        <option *ngFor="let category of listCategory" [value]="category.uid">{{category.title}}</option>
                                    </select>
                                    <div class="invalid-field" *ngIf="uidCategory.invalid && (uidCategory.dirty || uidCategory.touched)">Métier invalide</div>
                                </div>
                                <div class="form-group" *ngIf="hiddenOrderNumber">
                                    <label required class="form-label">Numéro de licence a la RAMQ</label>
                                    <input class="form-control" type="text" name="RAMQ" #RAMQ="ngModel" [(ngModel)]="user.RAMQ">
                                    <div class="invalid-field" *ngIf="RAMQ.invalid && (RAMQ.dirty || RAMQ.touched)">Numéro de licence a la RAMQ invalide</div>
                                </div>
                                <div class="form-group" *ngIf="hiddenOrderNumber">
                                    <label required class="form-label">Numéro d'ordre professionnel</label>
                                    <input class="form-control" type="text" name="professionalOrderNumber" #professionalOrderNumber="ngModel" [(ngModel)]="user.professionalOrderNumber">
                                    <div class="invalid-field" *ngIf="professionalOrderNumber.invalid && (professionalOrderNumber.dirty || professionalOrderNumber.touched)">Numéro d'ordre professionnel invalide</div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Curriculum Vitae</label>
                                    <div class="d-flex justify-content-between align-items-center" *ngIf="(user.cvUrl !== '')? true : false ">
                                        <a href="{{user.cvUrl}}" target="_blank">Voir Cv</a>
                                        <button class="btn mr-1 btn-sm btn-primary" (click)="DeleteCurriculumVitae()">
                                            <i class="fa fa-times"></i>
                                         </button>
                                    </div>
                                    <div *ngIf="(user.cvUrl !== '')? false : true " class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="selectFileCv($event)" accept="application/pdf" name="example-file-input-custom">
                                        <label class="custom-file-label">Choisir un fichier</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Pièce d'identité</label>
                                    <div class="d-flex justify-content-between align-items-center" *ngIf="(user.cinUrl !== '')? true : false ">
                                        <a href="{{user.cinUrl}}" target="_blank">Voir pièce d'identité</a>
                                        <button class="btn mr-1 btn-sm btn-primary" (click)="DeleteCin()">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="(user.cinUrl !== '')? false : true " class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="selectFileCIN($event)" accept="application/pdf" name="example-file-input-custom">
                                        <label class="custom-file-label">Choisir un fichier</label>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="hiddenOrderNumber">
                                    <label class="form-label">Permis d'exercice</label>
                                    <div class="d-flex justify-content-between align-items-center" *ngIf="(user.licenseUrl !== '')? true : false ">
                                        <a href="{{user.licenseUrl}}" target="_blank">Voir Licence</a>
                                        <button class="btn mr-1 btn-sm btn-primary" (click)="DeleteLicense()">
                                      <i class="fa fa-times"></i>
                                    </button>
                                    </div>
                                    <div *ngIf="(user.licenseUrl !== '')? false : true " class="custom-file">
                                        <input type="file" class="custom-file-input" (change)="selectFileLicense($event)" accept="application/pdf" name="example-file-input-custom">
                                        <label class="custom-file-label">Choisir un fichier</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Dites-nous plus sur vous ou sur votre entreprise </label>
                                    <textarea class="form-control" name="descriptionProfile" #descriptionProfile="ngModel" [(ngModel)]="user.descriptionProfile" rows="6">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Nom de l'entreprise ou de l'incorporation, si cela s'applique</label>
                                    <input class="form-control" type="text" name="EntrepriseName" #EntrepriseName="ngModel" [(ngModel)]="user.EntrepriseName">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Je collecte les taxes (TPS/TVQ)*</label>
                                    <div class="custom-controls-stacked">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="taxesTPSTVQ"  [(ngModel)]="user.taxesTPSTVQ" [value]="true"> 
                                            <span class="custom-control-label">Oui</span> 
                                        </label>
                                        <label class="custom-control custom-radio"> 
                                            <input type="radio" class="custom-control-input" name="taxesTPSTVQ" [(ngModel)]="user.taxesTPSTVQ" [value]="false"> 
                                            <span class="custom-control-label">Non</span> 
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Mon milieu de pratique</label>
                                    <div *ngIf="listEnvironnement" class="form-control">
                                        <div *ngFor="let environnement of listEnvironnement; let i=index" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="environnement_{{i}}" [ngModel]="isSelectedEnvironnement(environnement.uid)" (ngModelChange)="onChangeEnvironnement(environnement.uid, $event)" name="environnement_{{i}}">
                                            <label class="custom-control-label" for="environnement_{{i}}">
                                                {{environnement.title}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Logiciel maitrisé</label>
                                    <div *ngIf="listSoftware" class="form-control">
                                        <div *ngFor="let software of listSoftware; let i=index" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="software_{{i}}" [ngModel]="isSelectedSoftware(software.uid)" (ngModelChange)="onChangeSoftware(software.uid, $event)" name="software_{{i}}">
                                            <label class="custom-control-label" for="software_{{i}}">
                                                {{software.title}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Niveau d'étude</label>
                                    <div *ngIf="listStudyLevel" class="form-control">
                                        <div *ngFor="let studyLevel of listStudyLevel; let i=index" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="studyLevel_{{i}}" [ngModel]="isSelectedStudyLevels(studyLevel.uid)" (ngModelChange)="onChangeStudyLevels(studyLevel.uid, $event)" name="studyLevel_{{i}}">
                                            <label class="custom-control-label" for="studyLevel_{{i}}">
                                                {{studyLevel.title}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Nombre d'année d'expérience</label>
                                    <select class="form-control custom-select" name="yearsExperience" #yearsExperience="ngModel" [(ngModel)]="user.yearsExperience">
                                        <option *ngFor="let exp of listeYearsExprence" [value]="exp.title">{{exp.title}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-12 mb2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="authorizedSmsEmail" name="authorizedSmsEmail" #authorizedSmsEmail="ngModel" [(ngModel)]="user.authorizedSmsEmail">
                                    <label class="custom-control-label" for="authorizedSmsEmail">
                                        J'autorise PlacementSante à me communiquer de l'information et des offres par courriel et/ou par SMS 
                                     </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="validDocuments" name="validDocuments" #validDocuments="ngModel" [(ngModel)]="user.validDocuments">
                                    <label class="custom-control-label" for="validDocuments">
                                        Je certifie sur l'honneur que les renseignements indiqués dans ce formulaire sont, à ma connaissance,
                                        véridiques et exacts, et je conviens que je dois me conformer aux conditions générales d'utilisation
                                        qui sont énoncées ci-joint : conditions générales.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <div class="form-group text-center">
                            <input class="btn btn-primary  mr-5" type="submit" [disabled]="!userForm.valid" value="Sauvegarder" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>