<div class="my-login-page">
    <div class="container">
        <div class="row">
            <div class="col col-login mx-auto">
                <div class="text-center mb-5">
                    <img src="./assets/logo.svg">
                </div>
                <form class="card" [formGroup]="userForm" (ngSubmit)="submit(userForm)">
                    <div class="card-body p-6">
                        <div class="card-title text-center">Login to your Account</div>
                        <div class="form-group">
                            <label class="form-label">Email address</label>
                            <input id="email" type="email" class="form-control" [formControl]="userForm.controls['email']">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password </label>
                            <input id="password" type="password" class="form-control" [formControl]="userForm.controls['password']">
                        </div>

                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                        <div class="text-center text-muted mt-3">
                            Don't have account yet? <a (click)="goRegisterPage()">Sign up</a>
                        </div>
                    </div>
                    <div class="btnSocial d-flex justify-content-around">
                        <div class="p-2">
                            <button class="btn btn-block btn-facebook" (click)="signInWithFaceBook()">
                                <span class="fa fa-facebook"></span>
                            </button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-block btn-google" (click)="signInWithGoogle()">
                                <span class="fa fa-google"></span>
                            </button>
                        </div>
                        <div class="p-2">
                            <button class="btn btn-block btn-google" (click)="signInWithTwitter()">
                                <span class="fa fa-twitter"></span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>