.my-login-page {
    .col-login {
        max-width: 24rem;
        margin-top: 100px;
        img {
            width: 150px;
            @media (max-width: 768px) {
                width: 100px;
            }
        }
        .card {
            .card-title {
                font-size: 1.125rem;
                line-height: 1.2;
                font-weight: 600;
            }
            a {
                color: #fccd87;
            }
        }
    }
}