<div class="container">
    <div class="header text-center mt-5">
        <h3 class="title">Liste des candidats par mandat</h3>
    </div>
    <div class="d-flex p-2 justify-content-start">
        <a class="p-2 btn  btn-sm btn-primary" [routerLink]="['/employer/mandates']">
            Retour
        </a>
    </div>
    <div class="col-12  mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
        <div class="row  mt-5 justify-content-md-center">
            <ngx-loading [show]="loading"></ngx-loading>
            <div class="col-12">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>email</th>
                            <th>lastName</th>
                            <th>firstName</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of listEmployeeParticipate ; let i = index">
                            <td> {{i+1}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.firstName}}</td>
                            <td>
                                <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#candidatMandate" (click)="onDisplay(employee)">
                                      <i class="fa fa-info-circle"></i>
                                    </button>
                                <button *ngIf="!hiddenButtonConfirmed" class="btn mr-1 btn-sm btn-primary" data-toggle="modal" (click)="applyEmployeeForThisMandate(employee)">
                                      <i class="fa fa-check-circle-o"></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="candidatMandate">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <app-shared-display-employee [user]='employeeInfo'></app-shared-display-employee>
                </div>
            </div>
        </div>
    </div>
</div>