<div class="container">
  <div class="header text-center mt-5">
    <h3 class="title">Liste des employées validé</h3>
  </div>
  <div class="col-12 mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
    <div class="row  mt-5 justify-content-md-center">
      <ngx-loading [show]="loading"></ngx-loading>
      <div class="col-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of listEmployee ; let i = index">
              <td> {{i+1}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.email}}</td>
              <td>
                <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#employeeModal" (click)="onDisplay(employee)">
                  <i class="fa fa-info-circle"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="employeeModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ">{{titleModal}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label">Nom</label>
                <p>{{employeeInfo.firstName}}</p>
              </div>
              <div class="form-group">
                <label class="form-label">Prenom</label>
                <p>{{employeeInfo.lastName}}</p>
              </div>
              <div class="form-group">
                <label class="form-label">Email</label>
                <p>{{employeeInfo.email}}</p>
              </div>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <p>{{employeeInfo.phoneNumber}}</p>
              </div>

              <div class="form-group">
                <label class="form-label">Experience</label>
                <p>{{employeeInfo.yearsExperience}}</p>
              </div>
              <div class="form-group" *ngIf="employeeInfo.professionalOrderNumber">
                <label class="form-label">numéro d'ordre professionnel</label>
                <p>{{employeeInfo.professionalOrderNumber}}</p>
              </div>
              <div class="form-group">
                <label class="form-label" *ngIf="employeeInfo.RAMQ">RAMQ</label>
                <p>{{employeeInfo.RAMQ}}</p>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label">category</label>
                <p>{{employeeInfo.category.title}}</p>
              </div>
              <div class="form-group">
                <label class="form-label">Taxe</label>
                <p *ngIf="employeeInfo.taxesTPSTVQ">oui</p>
                <p *ngIf="!employeeInfo.taxesTPSTVQ">non</p>
              </div>
              <div class="form-group">
                <label class="form-label">Logiciel maitrisé</label>
                <div *ngFor='let  software of employeeInfo.listSoftware'>{{software.title}}</div>
              </div>
              <div class="form-group">
                <label class="form-label">Mon milieu de pratique</label>
                <div *ngFor='let  environnement of employeeInfo.listEnvironnement'>{{environnement.title}}</div>
              </div>
              <div class="form-group">
                <label class="form-label">Niveau d'étude </label>
                <div *ngFor='let  studyLevel of employeeInfo.listStudyLevel'>{{studyLevel.title}}</div>
              </div>
              <div class="form-group" *ngIf='employeeInfo.cinUrl!==""'>
                <label class="form-label"></label>
                <div><a href="{{employeeInfo.cinUrl}}" target="_blank">CIN</a></div>
              </div>
              <div class="form-group" *ngIf='employeeInfo.licenseUrl!==""'>
                <label class="form-label"></label>
                <div><a href="{{employeeInfo.licenseUrl}}" target="_blank">LICENCE</a></div>
              </div>
              <div class="form-group" *ngIf='employeeInfo.cvUrl!==""'>
                <label class="form-label"></label>
                <div><a href="{{employeeInfo.cvUrl}}" target="_blank">CURRICULUM VITAE</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
