<div class="container">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item "><a routerLink="/{{payloadMandate.parentLink}}">Remplacements</a></li>
      <li *ngIf=" payloadMandate.titlePage !== '' " class="breadcrumb-item active">{{payloadMandate.titlePage}}</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <ngx-loading [show]="loading"></ngx-loading>-->
        <div class="card-header">
          <h4 class="mb-0">{{payloadMandate.titlePage}}</h4>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="payloadMandate.method==='getListMandateByEmployer'">
            <div class="col-12">
              <div class="d-flex justify-content-end my-3">
                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="resetForm()"
                  data-target="#mandatesModal">
                  Ajouter une nouvelle mandats
                </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ref mandats</th>
                  <th>Recherche</th>
                  <th>Date creation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mandate of listMandates ; let i = index">
                  <td> {{i+1}}</td>
                  <td>{{mandate.refMandates}}</td>
                  <td>{{mandate.category.title}}</td>
                  <td>{{formatDate(mandate.createdDate.toDate())}}</td>
                  <td>
                    <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#mandatesModal"
                      (click)="onDisplay(mandate)">
                      <i class="fa fa-info-circle"></i>
                    </button>
                    <button [disabled]="mandate.publish" *ngIf="payloadMandate.method==='getListMandateByEmployer'"
                      class="btn mr-1 btn-sm btn-primary" (click)="onPublish(mandate)">
                      <i class="fa fa-cloud-upload"></i>
                    </button>
                    <button *ngIf="payloadMandate.method==='getListMandateByEmployer'" class="btn mr-1 btn-sm btn-primary"
                      data-toggle="modal" data-target="#mandatesModal" (click)="onEdit(mandate)">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button *ngIf="payloadMandate.method==='getListMandateByEmployer'" class="btn mr-1 btn-sm btn-primary"
                      (click)="onDelete(mandate)">
                      <i class="fa fa-trash-o "></i>
                    </button>
                    <button *ngIf="payloadMandate.method==='applyToThisMandate'" class="btn mr-1 btn-sm btn-primary"
                      (click)="applyToThisMandate(mandate)">
                      <i class="fa fa-check-circle-o"></i>
                    </button>
                    <button *ngIf="payloadMandate.owner==='admin' || payloadMandate.method==='getListConfirmedMandateByEmployer' "
                      class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#mandatesModal" (click)="onDisplayEmployee(mandate)">
                      <i class="fa fa-user-circle-o"></i>
                    </button>
                    <button [disabled]="(mandate.listUidEmployeeParticipate.length > 0 )? fasle : true" *ngIf="payloadMandate.method==='adminConfirmedMandate' || payloadMandate.method==='getListMandateByEmployer'"
                      class="btn mr-1 btn-sm btn-primary" (click)="goToCandidatePage(mandate)">
                      <i class="fa fa-users"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mandatesModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title ">{{titleModal}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div *ngIf="displayEmployee">
            <app-shared-display-employee [user]='UserInfo'></app-shared-display-employee>
          </div>
          <div *ngIf="displayFormMandate">
            <form #mandatesForm="ngForm" (ngSubmit)="submitMandates(mandatesForm)">
              <input type="hidden" name="uid" #uid="ngModel" [(ngModel)]="mandates.uid">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Nom de l'entreprise</label>
                    <select class="form-control custom-select" (change)="onChangeStore($event.target.value)" name="uidStore"
                      #uidStore="ngModel" [(ngModel)]="mandates.uidStore">
                      <option *ngFor="let store of listStore" [value]="store.uid">{{store.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Milieu de pratique</label>
                    <label class="form-txt">{{environnementName}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Systeme informatique demandé</label>
                    <div *ngIf="listSoftware" class="form-txt">
                      <div *ngFor="let software of listSoftware; let i=index" class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="software_{{i}}" [ngModel]="isSelectedSoftware(software.uid)"
                          (ngModelChange)="onChangeSoftware(software.uid, $event)" name="software_{{i}}">
                        <label class="custom-control-label" for="software_{{i}}">
                          {{software.title}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Recherche</label>
                    <select class="form-control custom-select" name="uidCategory" #uidCategory="ngModel" [(ngModel)]="mandates.uidCategory">
                      <option *ngFor="let category of listCategory" [value]="category.uid">{{category.title}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Durée du mandats</label>
                    <input class="form-control" [selectMode]="'range'" [min]="min" name="rangeDate" #rangeDate="ngModel"
                      [(ngModel)]="mandates.rangeDate" [owlDateTimeTrigger]="rangeDate" [owlDateTime]="rangeDate">
                    <owl-date-time [stepMinute]="60" #rangeDate></owl-date-time>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Prix / Heur</label>
                    <input class="form-control" type="text" name="pricePerHour" #pricePerHour="ngModel" [(ngModel)]="mandates.pricePerHour">
                  </div>

                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary mr-4" type="submit" [disabled]="!mandatesForm.valid">{{titleButton}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset" (click)="resetForm()">
                  Annuler </button>
              </div>
            </form>
          </div>
          <div *ngIf="displayInfoMandate">
            <div *ngIf="mandatesInfo" class="row displayInfo">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Nom de l'entreprise</label>
                  <div class="form-txt">{{mandatesInfo.store.name}}</div>
                </div>
                <div class="form-group">
                  <label class="form-label">Profile recherché</label>
                  <div class="form-txt">{{mandatesInfo.category.title}}</div>
                </div>
                <div class="form-group">
                  <label class="form-label">Date création </label>
                  <div class="form-txt">{{formatDate(mandatesInfo.createdDate.toDate())}}</div>
                </div>
                <div class="form-group">
                  <label class="form-label">Milieu de pratique</label>
                  <div class="form-txt">{{mandatesInfo.store.environnement.title}}</div>
                </div>
                <div class="form-group">
                  <label class="form-label">Système informatique utilisé</label>
                  <div class="form-txt">
                    <span *ngFor="let software of mandatesInfo.listSoftware">{{software.title}} /</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Date Mandat</label>
                  <div class="form-txt">
                    {{formatDate(mandatesInfo.startDate.toDate())}} ~ {{formatDate(mandatesInfo.endDate.toDate())}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Nombre des heures</label>
                  <div class="form-txt">{{mandatesInfo.nbHour}}</div>
                </div>
                <div class="form-group">
                  <label class="form-label">Prix / Heure</label>
                  <div class="form-txt">{{mandatesInfo.pricePerHour}}</div>
                </div>
                <div class="form-group">
                  <label class="form-label">Total</label>
                  <div class="form-txt">{{mandatesInfo.total}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
