<div class="placementSantee-navbar" *ngIf="navbarService.visible">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#">
                <img src="./assets/logo.svg" width="50" height="50" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Remplacements
                            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/employee/mandates">Liste des mandats</a>
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/employee/pending-mandates">Mandats en attente</a>
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/employee/confirmed-mandates">Mandats confirmés</a>
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/employee/closed-mandates">Mandats finalisés</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Emploi
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/employee/search-job">Cherche un emploi</a>
                            <a class="dropdown-item" routerLinkActive="active" routerLink="/employee/applied-job">Emplois appliqués</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <a href="#" class="nav-link pr-0" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar">
                    <i class="fa fa-user-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; transform: translate3d(-40px, 46px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/employee/profile">
                        <i class="fa fa-user"></i>
                        <span class="ml-2">Mon Profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <button (click)="logout()" class="dropdown-item">
                        <i class="fa  fa-sign-out"></i>
                         <span class="ml-2" >Déconnexion</span>
                    </button>
                </div>
            </div>
        </nav>


    </div>

</div>