<div class="container">
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Mes entreprises</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- <ngx-loading [show]="loading"></ngx-loading>-->
                <div class="card-header">
                    <h4 class="mb-0">Mes entreprises</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-end my-3">
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="resetForm()" data-target="#storeModal">
                  Ajouter une nouvelle store
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input style="width:100%;" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div #gmap style="width:100%;height:400px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom store</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let store of listStore ; let i = index">
                                    <td> {{i+1}}</td>
                                    <td>{{store.name}}</td>
                                    <td>
                                        <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#storeModal" (click)="onDisplay(store)">
                      <i class="fa fa-info-circle"></i>
                    </button>
                                        <button class="btn mr-1  btn-sm btn-primary" data-toggle="modal" data-target="#storeModal" (click)="onEdit(store)">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                                        <button class="btn  mr-1  btn-sm btn-primary" (click)="onDelete(store)">
                      <i class="fa fa-trash-o "></i>
                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal fade" id="storeModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div *ngIf="!displayDetail">
                        <form #storeForm="ngForm" (ngSubmit)="submitStore(storeForm)">
                            <input class="form-control" type="hidden" name="uid" #uid="ngModel" [(ngModel)]="store.uid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nom de l'entreprise</label>
                                        <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="store.name">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Votre Milieu de pratique</label>
                                        <select class="form-control custom-select" name="uidEnvironnement" #uidEnvironnement="ngModel" [(ngModel)]="store.uidEnvironnement">
                      <option *ngFor="let environnement of listEnvironnement" [value]="environnement.uid">{{environnement.title}}</option>
                    </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Système informatique utilisé</label>
                                        <div *ngIf="listSoftware" class="form-control">
                                            <div *ngFor="let software of listSoftware; let i=index" class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="software_{{i}}" [ngModel]="isSelectedSoftware(software.uid)" (ngModelChange)="onChangeSoftware(software.uid, $event) " name="software_{{i}}" />
                                                <label class="custom-control-label" for="software_{{i}}">
                          {{software.title}}
                        </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Dites-nous plus sur votre succurasale/entreprise</label>
                                        <textarea class="form-control" type="text" name="description" #description="ngModel" [(ngModel)]="store.description">
                     </textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="form-label">Numéro de téléphone de l'entreprise</label>
                                        <input class="form-control" type="text" name="phone" #phone="ngModel" mask="000 000-0000" [(ngModel)]="store.phone">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Adresse</label>
                                        <input class="form-control" type="text" name="adress" #adress="ngModel" [(ngModel)]="store.adress">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Ville</label>
                                        <input class="form-control" type="text" name="city" #city="ngModel" [(ngModel)]="store.city">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Province</label>
                                        <input class="form-control" type="text" name="province" #province="ngModel" [(ngModel)]="store.province">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Code Postal</label>
                                        <input class="form-control" type="text" name="postalCode" #postalCode="ngModel" [(ngModel)]="store.postalCode">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary mr-4" type="submit" [disabled]="!storeForm.valid">{{titleButton}}</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset" (click)="resetForm()">
                  Annuler </button>
                            </div>

                        </form>
                    </div>
                    <div *ngIf="displayDetail">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Milieu de pratique</label>
                                    <div class="form-txt">{{storeInfo.environnement.title}}</div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Système informatique utilisé</label>
                                    <div class="form-txt">
                                        <span *ngFor="let software of storeInfo.listSelectedSoftware">
                      {{software.title}} /
                    </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Numéro de téléphone de l'entreprise</label>
                                    <label class="form-txt">{{storeInfo.phone}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Dites-nous plus sur votre succurasale/entreprise</label>
                                    <label class="form-txt">{{storeInfo.description}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Adresse</label>
                                    <label class="form-txt">{{storeInfo.adress}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ville</label>
                                    <label class="form-txt">{{storeInfo.city}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Province</label>
                                    <label class="form-txt">{{storeInfo.province}}</label>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Code Postal</label>
                                    <label class="form-txt">{{storeInfo.postalCode}}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>