<div class="my-login-page">
    <div class="container  h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="./assets/logo.svg">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <form [formGroup]="userForm" (ngSubmit)="submit(userForm)">
                            <div class="form-group">
                                <label for="email">E-Mail </label>
                                <input id="email" type="email" class="form-control" [formControl]="userForm.controls['email']">
                            </div>
                            <div class="form-group">
                                <label for="password">Password </label>
                                <input id="password" type="password" class="form-control" [formControl]="userForm.controls['password']">
                            </div>
                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block">
                                  Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>