<div class="container">
  <div class="header text-center mt-5">
    <h3 class="title">Liste des catégories du profile</h3>
  </div>
  <div class="col-12 col-md-10 mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
    <div class="row  m-5  justify-content-md-end">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="resetForm()" data-target="#categoryModal">
        Ajouter une nouvelle category
      </button>
    </div>
  </div>
  <div class="col-12  mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
    <div class="row  mt-5 justify-content-md-center">
      <ngx-loading [show]="loading"></ngx-loading>
      <div class="col-12 col-md-10">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>#</th>
              <th>category</th>
              <th>numero d'ordre</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of listCategory ; let i = index">
              <td> {{i+1}}</td>
              <td>{{category.title}}</td>
              <td>{{(category.orderNumber)? 'oui' : 'non'}}</td>
              <td>
                <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#categoryModal" (click)="onEdit(category)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn mr-1 btn-sm btn-primary" (click)="onDelete(category)">
                  <i class="fa fa-trash-o "></i>
                </button>
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="categoryModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ">{{titleModal}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="row  mt-5 justify-content-md-center">
          <div class="col-12 col-md-10">
            <form [formGroup]="categoryForm" (ngSubmit)="submitCategory(categoryForm)">
              <input class="form-control" type="hidden" [formControl]="categoryForm.controls['uid']">
              <div class="form-group">
                <label class="form-label">Nom category</label>
                <input class="form-control" type="text" [formControl]="categoryForm.controls['title']">
              </div>
              <div class="form-group">
                <label class="form-label">Numero d'ordre professionel</label>
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" [formControl]="categoryForm.controls['orderNumber']" [value]="true"> 
                        <span class="custom-control-label">Oui</span> 
                    </label>
                    <label class="custom-control custom-radio"> 
                        <input type="radio" class="custom-control-input" [formControl]="categoryForm.controls['orderNumber']"  [value]="false"> 
                        <span class="custom-control-label">Non</span> 
                    </label>
                </div>
            </div>
              <div class="form-group text-center">
                <button class="btn btn-primary mr-1" type="submit" [disabled]="!categoryForm.valid">{{titleButton}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset" (click)="resetForm()">
                  Annuler </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
