<div class="container">
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a routerLink="/{{adsStatus.parentLink}}">Emploi</a></li>
            <li *ngIf=" adsStatus.titlePage !== '' " class="breadcrumb-item active">{{adsStatus.titlePage}}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- <ngx-loading [show]="loading"></ngx-loading>-->
                <div class="card-header">
                    <h4 class="mb-0">{{adsStatus.titlePage}}</h4>
                </div>
                <div class="card-body">
                    <div class="row" *ngIf="adsStatus.owner==='employer'">
                        <div class="col-12">
                            <div class="d-flex justify-content-end my-3">
                                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" (click)="resetForm()" data-target="#adsModal">
                                    Ajouter une nouvelle mandats
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ref annonce</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ad of listAds ; let i = index">
                                    <td> {{i+1}}</td>
                                    <td>{{ad.refAnnonce}}</td>
                                    <td>{{ad.createdDate}}</td>
                                    <td>
                                        <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#adsModal" (click)="onDisplay(ad)">
                                            <i class="fa fa-info-circle"></i>
                                        </button>
                                        <button *ngIf="adsStatus.getAllAds" type="button" class="btn mr-1 btn-sm btn-primary" (click)="applyToThisAd(ad)">
                                            <i class="fa fa-check-circle-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="adsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngIf="displayDetail" class="row  mt-5 justify-content-md-center">
                    <div class="col-12 col-md-10">
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Réf annonce</label>
                            <label class="col-12 col-md-7">{{adsInfo.refAnnonce}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Profile recherché</label>
                            <label class="col-12 col-md-7">{{adsInfo.category.title}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Date création annonce</label>
                            <label class="col-12 col-md-7">{{adsInfo.createdDate}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Nom de l'entreprise</label>
                            <label class="col-12 col-md-7">{{adsInfo.store.name}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Milieu de pratique</label>
                            <label class="col-12 col-md-7">{{adsInfo.store.environnement.title}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-5">Systeme informatique demandé</label>
                            <label class="col-12 col-md-7">
                          <span *ngFor="let software of adsInfo.store.listSelectedSoftware">{{software.title}}/</span>
                        </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Date début</label>
                            <label class="col-12 col-md-7">{{adsInfo.startDate.seconds*1000| date: 'd/M/yyyy'}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Année d'expérience</label>
                            <label class="col-12 col-md-7">{{adsInfo.yearsExprence}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Plus détails sur les taches de l'emploi</label>
                            <label class="col-12 col-md-7">{{adsInfo.detail}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>