<div class="container">
  <div class="header text-center mt-5">
    <h3 class="title">Mes annonces</h3>
  </div>
  <div class="col-12 col-md-10 mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
    <div class="row  m-5  justify-content-md-end">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" (click)="resetForm()" data-target="#adsModal">
        Ajouter une nouvelle annonce
      </button>
    </div>
  </div>
  <div class="col-12  mx-auto xs-my-1 mt-3  md-mt-5 mb-2 md-mb-5">
    <div class="row  mt-5 justify-content-md-center">
      <!--  <ngx-loading [show]="loading"></ngx-loading> -->
      <div class="col-12 col-md-10">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Ref annonce</th>
              <th>Store</th>
              <th>Poste</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ad of listads ; let i = index">
              <td> {{i+1}}</td>
              <td>{{ad.refAnnonce}}</td>
              <td>{{ad.store.name}}</td>
              <td>{{ad.category.title}}</td>
              <td>
                <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#adsModal" (click)="onDisplay(ad)">
                  <i class="fa fa-info-circle"></i>
                </button>
                <button class="btn mr-1  btn-sm btn-primary" data-toggle="modal" data-target="#adsModal" (click)="onEdit(ad)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn  mr-1  btn-sm btn-primary" (click)="onDelete(ad)">
                  <i class="fa fa-trash-o "></i>
                </button>
                <a [routerLink]="['/employer/candidates-job',ad.uid]">
                  <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal">
                    <i class="fa fa-users"></i>
                  </button>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal fade" id="adsModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title ">{{titleModal}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div *ngIf="!displayDetail" class="row  mt-5 justify-content-md-center">
          <div class="col-12 col-md-10">
            <form #adsForm="ngForm" (ngSubmit)="submitAds(adsForm)">
              <input class="form-control" type="hidden" name="uid" #uid="ngModel" [(ngModel)]="ads.uid">
              <div class="form-group">
                <label class="form-label">Recherche</label>
                  <select name="uidCategory" class="form-control custom-select" #uidCategory="ngModel" [(ngModel)]="ads.uidCategory">
                    <option *ngFor="let category of listCategory" [value]="category.uid">{{category.title}}</option>
                  </select>
              </div>
              <div class="form-group">
                <label class="form-label">Poste</label>
                  <select name="post"  class="form-control custom-select"   #post="ngModel" [(ngModel)]="ads.post" >
                    <option *ngFor="let post of ListePoste" [value]="post.title">{{post.title}}</option>
                  </select>
              </div>
              <div class="form-group">
                <label class="form-label">Nom d"entreprise</label>
                  <select  class="form-control custom-select" (change)="onChangeStore($event.target.value)" name="uidStore" #uidStore="ngModel" [(ngModel)]="ads.uidStore">
                    <option *ngFor="let store of listStore" [value]="store.uid">{{store.name}}</option>
                  </select>
              </div>
              <div class="form-group">
                <label class="form-label">Milieu de pratique</label>
                <label class="form-control">{{environnementName}}</label>
              </div>

              <!--
                    <div class="form-group">
                                    <label class="form-label">Mon milieu de pratique</label>
                                    <div *ngIf="listEnvironnement" class="form-control">
                                        <div *ngFor="let environnement of listEnvironnement; let i=index" class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="environnement_{{i}}" [ngModel]="isSelectedEnvironnement(environnement.uid)" (ngModelChange)="onChangeEnvironnement(environnement.uid, $event)" name="environnement_{{i}}">
                                            <label class="custom-control-label" for="environnement_{{i}}">
                                                {{environnement.title}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
              -->
              <div class="form-group">
                <label class="form-label">Systeme informatique demandé</label>
                <div *ngIf="softwareList" class="form-control" >
                  <div *ngFor="let software of softwareList; let i=index" class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"  id="software_{{i}}" [ngModel]="isSelectedSoftware(software.uid)" (ngModelChange)="onChangeSoftware(software.uid, $event)"
                      name="software_{{i}}" />
                      <label class="custom-control-label" for="software_{{i}}">
                    {{software.title}}
                    </label>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label class="form-label">date de début</label>
                <input class="form-control" [(ngModel)]="ads.startDate" #startDate="ngModel" name="startDate" [owlDateTimeTrigger]="startDate"
                  [min]="min" [owlDateTime]="startDate">
                <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
              </div>
              <div class="form-group">
                <label class="form-label">nombre d'année d'expérience</label>
                  <select  class="form-control custom-select"  name="yearsExprence" #yearsExprence="ngModel" [(ngModel)]="ads.yearsExprence">
                    <option *ngFor="let exp of listeYearsExprence" [value]="exp.title">{{exp.title}}</option>
                  </select>
              </div>
              <div class="form-group">
                <label class="form-label">Plus détails sur les taches de l'emploi</label>
                <textarea class="form-control" rows="4" cols="50" name="detail" #detail="ngModel" [(ngModel)]="ads.detail">
                </textarea>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-primary mr-1" type="submit">{{titleButton}}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" type="reset" (click)="resetForm()"> Annuler </button>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="displayDetail" class="row  mt-5 justify-content-md-center">
          <div class="col-12 col-md-10">
            <div class="form-group row">
              <label class="col-12 col-md-5">Réf annonce</label>
              <label class="col-12 col-md-7">{{adsInfo.refAnnonce}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Profile recherché</label>
              <label class="col-12 col-md-7">{{adsInfo.category.title}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Date création annonce</label>
              <label class="col-12 col-md-7">{{adsInfo.createdDate}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Nom de l'entreprise</label>
              <label class="col-12 col-md-7">{{adsInfo.store.name}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Milieu de pratique</label>
              <label class="col-12 col-md-7">{{adsInfo.store.environnement.title}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Systeme informatique demandé</label>
              <label class="col-12 col-md-7">
                <span *ngFor="let software of adsInfo.store.listSelectedSoftware">{{software.title}}/</span>
              </label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Date début</label>
              <label class="col-12 col-md-7">{{adsInfo.startDate.seconds*1000| date: 'd/M/yyyy'}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Année d'expérience</label>
              <label class="col-12 col-md-7">{{adsInfo.yearsExprence}}</label>
            </div>
            <div class="form-group row">
              <label class="col-12 col-md-5">Plus détails sur les taches de l'emploi</label>
              <label class="col-12 col-md-7">{{adsInfo.detail}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
