<div class="container">
    <div class="header text-center mt-5">
        <h3 class="title">Liste des annonces </h3>
    </div>
    <div class="row  mt-5 justify-content-md-center">
        <!--  <ngx-loading [show]="loading"></ngx-loading> -->
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Poste</th>
                        <th>Recherche</th>
                        <th>Store</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ad of listAds ; let i = index">
                        <td> {{i+1}}</td>
                        <td>{{ad.category.title}}</td>
                        <td>{{ad.store.name}}</td>
                        <td>
                            <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#adsModal" (click)="onDisplay(ad)">
                                <i class="fa fa-info-circle"></i>
                            </button>
                            <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#adsModal" (click)="onDisplayEmployer(ad)">
                                <i class="fa fa-user-circle-o"></i>
                            </button>
                            <a class="btn mr-1 btn-sm btn-primary" [routerLink]="['/admin/candidates-job',ad.uid]">
                                <i class="fa fa-users"></i>
                            </a>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="adsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div *ngIf="displayUser" class="row  mt-5 justify-content-md-center">
                    <div class="col-12 col-md-10">
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Nom</label>
                            <label class="col-12 col-md-7">{{UserInfo.firstName}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-5">Prenom </label>
                            <label class="col-12 col-md-7">{{UserInfo.lastName}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-5">téléphone</label>
                            <label class="col-12 col-md-7">{{UserInfo.phone}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-5">profession</label>
                            <label class="col-12 col-md-7">{{UserInfo.profession}}</label>
                        </div>

                    </div>
                </div>


                <div *ngIf="displayAds" class="row  mt-5 justify-content-md-center">
                    <div class="col-12 col-md-10">


                        <div class="form-group row">
                            <label class="col-12 col-md-5">Réf annonce</label>
                            <label class="col-12 col-md-7">{{adsInfo.refAnnonce}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-5">Profile recherché</label>
                            <label class="col-12 col-md-7">{{adsInfo.category.title}}</label>
                        </div>


                        <div class="form-group row">
                            <label class="col-12 col-md-5">Date création annonce</label>
                            <label class="col-12 col-md-7">{{adsInfo.createdDate}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Nom de l'entreprise</label>
                            <label class="col-12 col-md-7">{{adsInfo.store.name}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Milieu de pratique</label>
                            <label class="col-12 col-md-7">{{adsInfo.store.environnement.title}}</label>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-5">Systeme informatique demandé</label>
                            <label class="col-12 col-md-7">
              <span *ngFor="let software of adsInfo.store.listSelectedSoftware">{{software.title}}/</span>
            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Date début</label>
                            <label class="col-12 col-md-7">{{adsInfo.startDate.seconds*1000| date: 'd/M/yyyy'}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Année d'expérience</label>
                            <label class="col-12 col-md-7">{{adsInfo.yearsExprence}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Plus détails sur les taches de l'emploi</label>
                            <label class="col-12 col-md-7">{{adsInfo.detail}}</label>
                        </div>



                    </div>
                </div>




            </div>
        </div>
    </div>

</div>