/* You can add global styles to this file, and also import other style files */

@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'node_modules/ngx-toastr/toastr.css';
body {
    background: #f2f4f8;
    color: #3e4b5b;
    font-size: 14px !important;
}

.dropdown-menu {
    font-size: 14px !important;
}

.page-header {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.5rem;
    justify-content: flex-end;
    .page-title {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 2.5rem;
    }
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        list-style: none;
        border-radius: 3px;
        background-color: transparent;
        padding: 0;
        a {
            color: #82cec5 !important;
        }
        .active {
            color: #6c757d;
        }
    }
}

.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 10px rgba(69, 101, 173, 0.1);
    border-radius: 7px;
    .card-header {
        background-image: linear-gradient(to right, #82cec5, #fccd87);
        h4 {
            color: white !important;
        }
    }
    .card-footer {
        background: none;
    }
}

.form-control {
    font-size: 14px !important;
}

.form-label {
    font-weight: 600;
}

.ng-invalid:not(form) {
    border: 1px solid #dc3545;
}

.ng-valid[required],
.ng-valid.required {
    border: 1px solid #28a745;
}

.invalid-field {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.displayInfo {
    .form-label {
        color: #2ab3a3;
    }
    .form-txt {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        line-height: 1.5;
        color: #6b6d6f;
        background-color: #E1F1F7;
        a {
            text-decoration: underline;
        }
    }
}

.modal-dialog {
    .form-label {
        color: #2ab3a3;
    }
    .form-control {
        color: #6b6d6f;
        background-color: #E1F1F7;
        border: 0 !important;
        border-radius: 0;
    }
    .form-txt {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 14px;
        line-height: 1.5;
        color: #6b6d6f;
        background-color: #E1F1F7;
        min-height: 33px;
    }
}

.modal-header {
    background: linear-gradient(to right, #82cec5, #E1F1F7);
    h4 {
        color: white !important;
    }
}

ngx-loading {
    height: 200px;
}

.cdk-overlay-container {
    z-index: 999999 !important;
}

.dataTables_wrapper {
    .dataTables_filter {
        float: none !important;
        text-align: center !important;
        input {
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    }
}