<div class="home-page">
    <div class="container">
        <div class="row justify-content-md-center h-100">
            <div class="brand">
                <img src="./assets/logo.svg">
            </div>
        </div>
        <div class="row justify-content-md-center h-100">
            <a class="btn btn-small btn-primary" (click)="goCategoryPage()">registration</a>
        </div>
    </div>
</div>