<div class="container">
    <div class="header text-center mt-5">
        <h3 class="title">Liste des candidates par mandat </h3>
    </div>
    <div class="d-flex p-2 justify-content-start">
        <a class="p-2 btn  btn-sm btn-primary" [routerLink]="['/admin/mandates']">
            Retour
        </a>
    </div>
    <div class="row  mt-5 justify-content-md-center">
        <!--<ngx-loading [show]="loading"></ngx-loading>-->
        <div class="col-12 ">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>email</th>
                        <th>lastName</th>
                        <th>firstName</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let candidate of listEmployeeParticipate ; let i = index">
                        <td> {{i+1}}</td>
                        <td>{{candidate.email}}</td>
                        <td>{{candidate.lastName}}</td>
                        <td>{{candidate.firstName}}</td>

                        <td>
                            <button class="btn mr-1 btn-sm btn-primary" data-toggle="modal" data-target="#candidatMandate" (click)="onDisplay(candidate)">
                  <i class="fa fa-info-circle"></i>
                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="candidatMandate">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ">{{titleModal}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div *ngIf="displayDetail" class="row  mt-5 justify-content-md-center">
                    <div class="col-12 col-md-10">
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Nom</label>
                            <label class="col-12 col-md-7">{{candidateInfo.firstName}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Prenom</label>
                            <label class="col-12 col-md-7">{{candidateInfo.lastName}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Email</label>
                            <label class="col-12 col-md-7">{{candidateInfo.email}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Phone</label>
                            <label class="col-12 col-md-7">{{candidateInfo.phone}}</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-5">Experience</label>
                            <label class="col-12 col-md-7">{{candidateInfo.yearsExperience}}</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>